%btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1.25em;
  border: 0;
  border-radius: 0.5em;
}

.btn {
  @extend %btn;
}

.btn-outline {
  @extend %btn;
  background-color: transparent;
  border: 1px #ffffff solid;
}
